* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "sass/colors";
@import "sass/layout";
@import "sass/spacing";
@import "sass/typography";

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;

  background: linear-gradient(45deg, #150308, #2b071c, #931d34);
  background-size: 1000% 1000%;
  animation: GradientBackground 10s ease infinite;

  @keyframes GradientBackground {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  &::-webkit-scrollbar {
    padding-right: 4px;
    width: 10px;
    background: #150308;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #931d34;
  }
}

.border {
  border: 1px solid red;
}

.border-g {
  border: 1px solid green;
}

.hidden {
  overflow: hidden;
}

svg,
img {
  width: 100%;
  // height: auto;
}

@import "sass/menu";
@import "sass/buttons";
@import "sass/footer";
