@import "tailwindcss";

:root {
  color: #fff;
  background-color: var(--color-background);
  font-family: var(--font-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #a277ff;
  --color-secondary: #61ffca;
  --color-background: #15141b;
  --color-soft-black: #242424;
  --color-soft-white: #d9d9d9;

  --color-gradient-primary: linear-gradient(
    200deg,
    #c4a7ff 8%,
    #a277ff 92%
  );

  --font-primary: "Space Grotesk", serif;
}

body {
  width: 100%;
  min-height: 100vh;
}
body::-webkit-scrollbar {
  padding-right: 4px;
  width: 0.5rem;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--color-primary);
}

.custom-container {
  @apply mx-auto max-w-[1440px] px-4 md:px-8 lg:px-16;
}

.invisble-grid {
  @apply hidden sm:block;
}

p {
  color: var(--color-soft-white);
}

.color-gradient {
  background: var(--color-gradient-primary) !important;
  background-clip: text;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
